* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body > main > ul > li > img {
  width: 100px;
  height: 100px;
}

body {
  background-color: rgba(208, 250, 252, 0.37);
}

body > header {
  margin-bottom: 1rem;
  padding: 0.75rem;
}

body > header > h1 {
  display: grid;
  grid-template-columns: 40%  60%;
  align-items: center;
  background-color: rgba(255, 255, 251, 0.719);

  border-bottom: 5px solid black;
  border-radius: 1rem;
  border-top: 5px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
  
}

body > header > h1 > p {
  font-family: 'Share Tech', 'Trebuchet MS';
  color: rgba(13, 153, 99, 0.897);
  font-size: 2rem;
  justify-self: start;
}

body > header > h1 > img {
  height: 100%;
  width: auto;
  max-height: 100px;
  max-width: 91.5px;
  justify-self: end;
padding: 1rem 0;}


body > main {
  height: 100%;
}

body > main > p {
  text-align: center;
  text-align: justify;
  margin-bottom: 1.75rem;
  font-family: 'Share Tech', 'Trebuchet MS';
  padding: 1.35rem;
  font-size: x-large;
}

#span_1 {
  text-decoration: line-through;
  font-family: 'Share Tech', 'Trebuchet MS';
}

body > main > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

body > main > ul > li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style-type: none;
  margin: 1rem;
  border: rgba(0, 0, 0, 0.185) solid;
  border-radius: 10px;
  padding: 2rem;
  width: 19rem;
  height: 21.5rem;
}

body > main > ul > li > h2 {
  text-align: center;
  margin-bottom: 10px;
}

body > main > ul > li > img {
  align-self: center;
  margin-top: 7px;
  margin-bottom: 7px;
}

body > main > ul > li > p {
  margin: 0.17rem;
}

p.current {
  color: rgb(158, 136, 11);
}

p.high {
  color: red;
}

p.low {
  color: green;
}

p.static {
  font-weight: bold;
  text-align: center;
}

footer {
  margin-top: 1.5rem;
  font-size: small;
  padding: 0.7rem;
}

@media (min-width: 700px) {
  body > main > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
  }



  body > header > h1 {
    grid-template-columns: 1fr fit-content(8ch) 1fr;
    align-items: center;
    text-align: center;
    padding: 2rem;
    background-color: rgba(255, 255, 251, 0.719);
    border-bottom: 5px solid black;
    border-radius: 1rem;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
  }

  body > header > h1 > p {
    font-size: 3rem;
  }

  body > header > h1 > img {
    padding: 0;
  }

  body > header > h2 {
    padding: 1.25rem;
    font-family: 'Share Tech', 'Trebuchet MS';
    text-align: center;
  }

  body > main > p {
    text-align: center;
    text-align: justify;
    margin-bottom: 1.75rem;
    font-family: 'Share Tech', 'Trebuchet MS';
    padding: 1.35rem;
    font-size: 2rem;
  }
}
